<a href="https://colab.research.google.com/github/ambikad04/Pandas/blob/main/PandasEDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
delivery=pd.read_csv('/content/deliveries.csv')

In [ ]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [ ]:
runs=delivery.groupby('batsman')

In [ ]:
runs.get_group('V Kohli').shape

(3494, 21)

In [ ]:
runs['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
SK Raina          4548
V Kohli           4423
RG Sharma         4207
G Gambhir         4132
DA Warner         4014
RV Uthappa        3778
CH Gayle          3651
S Dhawan          3561
MS Dhoni          3560
AB de Villiers    3486
Name: batsman_runs, dtype: int64

In [ ]:
mask=delivery['batsman_runs']==3
new_delivery=delivery[mask]

In [ ]:
new_delivery.shape[0]

509

In [ ]:
new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head(5)

batsman
M Vijay      17
S Dhawan     16
G Gambhir    15
AM Rahane    14
DA Warner    13
Name: batsman_runs, dtype: int64

In [ ]:
vk=delivery[delivery['batsman']=='V Kohli']

In [ ]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [ ]:
def run_scored(batsman_name):
  vk=delivery[delivery['batsman']==batsman_name]
  return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(1).index.tolist()

In [ ]:
run_scored('MS Dhoni')

['Royal Challengers Bangalore']

# isin()
### Find the most destructive death over batsman is the history of IPL
### Strike Rate =(Number of runs/Numbers of balls)/100
### Min batsman 200 balls is over 16-20

In [ ]:
death_over=delivery[delivery['over']>15]

In [ ]:
all_batsman=death_over.groupby('batsman')['batsman_runs'].count()
x=all_batsman>200
batsman_list=all_batsman[x].index.tolist()

In [ ]:
# Runs scored by all these 43 batsman
# Balls played by these 43 batsman

final=death_over[death_over['batsman'].isin(batsman_list)]

In [ ]:
runs=final.groupby('batsman')['batsman_runs'].sum()

In [ ]:
balls=final.groupby('batsman')['batsman_runs'].count()

In [ ]:
sr=(runs/balls)*100

In [ ]:
sr

batsman
A Mishra            100.888889
AB de Villiers      211.052632
AD Mathews          147.058824
AM Rahane           152.985075
AR Patel            142.794760
AT Rayudu           165.411765
BJ Hodge            157.402597
DA Miller           186.666667
DA Warner           189.473684
DJ Bravo            167.726161
DJ Hussey           175.213675
DPMD Jayawardene    152.032520
Harbhajan Singh     147.607656
IK Pathan           142.580645
JA Morkel           149.882353
JH Kallis           170.562771
JP Duminy           167.760618
JP Faulkner         149.319728
KA Pollard          161.336516
KD Karthik          152.051836
KM Jadhav           144.378698
LRPL Taylor         152.941176
MK Pandey           151.785714
MK Tiwary           140.189125
MS Dhoni            169.607843
NV Ojha             134.868421
P Kumar             109.701493
PP Chawla           120.257235
R Vinay Kumar       108.936170
RA Jadeja           130.729167
RG Sharma           175.668449
RV Uthappa          173.454545
S Badrinath         149.116608
S Dhawan            158.847737
SK Raina            167.467249
SPD Smith           169.303797
SS Tiwary           136.666667
STR Binny           144.036697
V Kohli             181.868132
WP Saha             163.389831
Y Venugopal Rao     148.846154
YK Pathan           159.246575
Yuvraj Singh        171.124031
Name: batsman_runs, dtype: float64